.shopping-list {
  max-width: 500px;
}

.shopping-list-form {
  background: linear-gradient(#20c6ad, #077067);
  padding: 10px;
}
h3 {
  font-size: 25px;
  caption-side: top;
  text-transform: capitalize;
  text-align: left;
  color: #fff;
}

.form-inline {
  display: flex;
}

.advanced-shopping {
  padding-left: 0px;
}

.advanced-shopping li {
  border-bottom: 1px dashed #eaeaec;
  margin: 5px 0;
  padding: 10px 5px;
}

.form-group.mr-2 {
  margin-right: 0.5rem;
}

.form-group.name {
  flex-grow: 1;
  padding-right: 2px;
}

.form-group.name input {
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  padding: 0.5rem;
}

.shopping-list .form-group.qty input {
  max-width: 30px;
  padding: 0.5rem 0;
}

.btn.btn-primary {
  background-color: #e92c81;
  padding: 8px;
  border: none;
  color: #fff;
}

.advanced-shopping {
  list-style: none;
  text-align: left;
}

.quantity {
  padding-left: 30px;
}

.number {
  padding: 0px 5px;
}
.btn-delete {
  float: right;
  color: #fff;
  border: none;
  padding: 7px 15px;
  background-color: #e92c81;
}
